<?xml version="1.0"?>

<launch>
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node" output="screen">
<!--    <param name="dev" value="/dev/input/js0" type="string"/> -->
    <param name="dev" textfile="jsx" type="string"/>
  </node>
  <node pkg="joy4ctrl" type="joy4ctrl.py" name="joy4ctrl" output="screen"></node>
</launch>
